html{scroll-behavior: smooth;}
body{
	background-color: var(--bgColor);
	margin: 0;
	border: 0;
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	user-select: none;
}
a{
    padding: 8px 18px;
    background-color: var(--mainColor);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
}
h2{
	font-size: 36px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    color: var(--mainColor);
}
span.name{
    color: var(--text);font-family: Montserrat, sans-serif;
}

#contact{
    margin-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact content{
    /* width: 40%; */
    /* max-width: 250px;
    min-width: 235px; */
    min-height: 225px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 13px 0px #00000045;
    margin: 45px 10px;
}
#contact .bgCard{
    position: relative;
    width: 310px;
    height: 255px;
    border-radius: 36px;
    background: linear-gradient(90deg, rgba(234,98,137,1) 5%, rgba(87,65,255,1) 95%);
}
#contact content div.sec4Div0 h3{
    font-size: 34px;
    position: absolute;
    top: 13px;
    left: 164px;
    font-family: 'Montserrat';
    color: #ffff;
}
#contact .frCard{
    position: absolute;
    width: 270px;
    bottom: -110px;
    height: 300px;
    border-radius: 28px;
    background-color: #18161b;
    box-shadow: 0px 8px 6px 0px #000000;
}
#contact content div.sec4Div1{
    width: 80px;
    margin-top: 20px;
    height: 80px;
    display: block;
    background-color: transparent;
    background-image: url(../images/one.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    z-index: 3;
}
#contact content div.sec4Div2{
    min-height: 115px;
    width: 90%;
    display: flex;
    border-radius: 8px;
    padding: 0 0 5px 0;
    background-color: #18161b;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: Montserrat, sans-serif;
}
#contact content div.sec4Div2 h5{margin-top: 0; color: #ffff;}


#contact content div.sec4Div2 a{padding: 8px 16px; transition-duration: 0.3s; font-family: Nunito, sans-serif;}
#contact content div.sec4Div2 a:hover{background-color: #e12aaf}

#contact content.sec4Ctr{
	background: 0;
	box-shadow: none;
	width: fit-content;
	color: var(--fontColor);
	align-self: center;
	font-size: 26px;
	font-family: Montserrat, sans-serif;
}

/* Section: 5  */
#sec5{
    margin: 110px 18% 80px 18%;
}
#sec5 h1{
	font-size: 34px;
	margin-bottom: 0;
	color: #ffffff;
}
#sec5 p{
    font-family: Nunito, sans-serif;
    max-width: 590px;
    font-size: 19px;
    color: #e6e6e6;
}
